extends /layouts/application.pug

block content
  link(href='https://fonts.googleapis.com/css?family=Bevan&display=swap' rel='stylesheet')
  if isSignedIn()
    h2(style="font-family: 'Bevan', cursive;") Hello, #{user.firstName}!
  else
    h2(style="font-family: 'Bevan', cursive;") Welcome to the Task Manager! Please, sign in or sign up to get started.