extends /layouts/application.pug

block content
  .text-center
    h1(style="font-family: 'Fredoka One', cursive;") Add new task
    .row.justify-content-center.pb-5
      .col-12.col-lg-4
        +formFor(f, { url: urlFor('tasks'), method: 'post' })
          +input(f, 'name', { as: 'name', placeholder: 'Name', id: 'inputName' })
          +input(f, 'description', { as: 'description', placeholder: 'Description', id: 'inputDescription' })
          +select(f, 'assignedTo', 'Assigned to', users)
          +input(f, 'tags', { as: 'tags', placeholder: 'Tags', id: 'inputTags' })
          button.btn.btn-lg.btn-success.btn-block Save task
          a.btn.btn-lg.btn-warning.btn-block(href=urlFor('tasks')) Cancel