extends /layouts/application.pug

block content
  .text-center
    h1(style="font-family: 'Fredoka One', cursive; color: green") Statuses
    .row.justify-content-center.pb-5
      .col-12.col-lg-4
        each taskStatus in taskStatuses
          .input-group.border.border-secondary.rounded
            input.form-control(type='text' value=`${taskStatus.name}` readonly)
            .input-group-append
              button.btn.btn-outline-secondary.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              .dropdown-menu
                a.dropdown-item(href=urlFor('editStatus', taskStatus.id)) Edit
                a.dropdown-item(href=urlFor('editStatus', taskStatus.id) data-method='delete' rel='nofollow' data-confirm='Are you sure you want to delete the status?') Delete
        br
        +formFor(f, { url: urlFor('statuses'), method: 'post' })
          +input(f, 'name', { as: 'name', id: 'inputName'})
          button.btn.btn-lg.btn-success.btn-block Add new status