extends /layouts/application.pug

block content
  .text-center
    h1(style="font-family: 'Fredoka One', cursive; color: orange") Change password
    .row.justify-content-center.pb-5
      .col-12.col-lg-4(style="font-family: 'Arbutus Slab', serif;")
        +formFor(f, { url: urlFor('changePassword'), method: 'patch' })
          +input(f, 'password', { as: 'password',  placeholder: 'Your password', id: 'inputPassword'})
          +input(f, 'newPassword', { as: 'password',  placeholder: 'New password', id: 'inputPassword'})
          +input(f, 'confirmPassword', { as: 'password',  placeholder: 'Confirm password', id: 'inputPassword'})
          button.btn.btn-lg.btn-warning.btn-block Change password